#leftSidebar:not(#search), h1 {
    font-family: 'Raleway', sans-serif;
}

p {
    font-size: 18px;
}

#leftSidebar {
    width: 17.5%;
    float: left;
}

#main {
    width: 80%;
    float: right;
}

.tag {
    display: none;
}

#search {
    background-image: url('searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#functionList {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* Turns off highlighting for sidebar because it gets annoying */
#functionList::-moz-selection,
#functionList::selection {
    /* TODO: Get this to work properly */
    background-color: transparent;
    color: #000;
}

#functionList li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
}

#functionList li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}


.hidden {
    display: none;
}
.active {
    display: block;
}

h1 {
    margin: 0;
}
